{
  "env": {
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "blockBindings": true,
    "defaultParams": true,
    "forOf": true,
    "generators": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "templateStrings": true,
    "jsx": true
  }
}